<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-List</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="header-layout">
        <h1>투두 리스트</h1>
    </div>
    <div class="article-layout">
        <div class="article-column">
            <div>할일</div>
            <div>기간</div>
            <div>순위</div>
            <div>버튼</div>
        </div>
        
        <% todos.forEach(todo => { %>
            <div class="article">
                <div><%= todo.todo %></div>
                <div><%= todo.date %></div>
                <div><%= todo.rank %></div>
                <div>버튼</div>
                </div>
        <% }); %>
    </div>
</body>
</html>