<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LikeLion Attendence</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="header-layout">
      <h1>ToDoList</h1>
    </div>
    <div class="article-layout">
      <div class="article-column">
        <div>할 일</div>
        <div>기한</div>
        <div>우선순위</div>
      </div>
      <!-- <div class="article">
        <div>노드 과제</div>
        <div>오늘</div>
        <div>1</div>
      </div> -->
    </div>
  </body>
</html>
